.auth {
  /* background-color: rgb(94, 100, 98); */
  margin: 0 auto;
  padding-top: 60px;
  box-sizing: border-box;
  width: 358px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
