.auth-form__input {
  padding: 9px;
  margin: 0 0 20px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  box-sizing: border-box;
}

.auth-form__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #ccc;
}
.auth-form__input::-moz-placeholder {
  font-weight: 400;
  color: #ccc;
}
.auth-form__input:-ms-input-placeholder {
  font-weight: 400;
  color: #ccc;
}
.auth-form__input::-ms-input-placeholder {
  font-weight: 400;
  color: #ccc;
}
.auth-form__input::placeholder {
  font-weight: 400;
  color: #ccc;
}
