.auth__link {
  color: #fff;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.auth__link:hover {
  opacity: 0.6;
}
